name: images downloader

on:
  push:
    branches:
      - master

jobs:
  build_docs_and_deploy:
    runs-on: ubuntu-latest
    name: images downloader

    steps:
    - name: Checkout
      uses: actions/checkout@master

    - name: Clone pre repositories
      run: |
        ls
        echo '------------------------------'
        git config --global user.email "ucecwme@ucl.ac.uk"
        git config --global user.name "nickcafferry"
        git init
        
        cd ./docs/
        
        ls
        echo '============================================'
        
        mkdir assets
        mkdir assets/images
        cd assets/images/
        mkdir 20200829
        cd 20200829/
        wget -O 20190518.zip https://onlineconvertfree.com/upload/converter/060920/vlH65Qs/TE_2020.08.29.zip
        unzip 20190518.zip
        git add -A
        git rm -f 20190518.zip
  
        cd ../../../../
        git status 
        git commit -m "Add 20200829 "
        ls
        git push origin master
