name: images downloader

on:
  push:
    branches:
      - master

jobs:
  build_docs_and_deploy:
    runs-on: ubuntu-latest
    name: build up document and deploy

    steps:
    - name: Checkout
      uses: actions/checkout@master

    - name: Clone pre repositories
      run: |
        ls
        echo '------------------------------'
        git config --global user.email "ucecwme@ucl.ac.uk"
        git config --global user.name "nickcafferry"
        git init
#        mkdir source
#        mkdir source/assets
#        mkdir source/assets/images
        
        cd ./source/assets/images/
        
        ls
        echo '============================================'
        
        mkdir 20200829
        cd 20200829/
        wget -O 20190518.zip http://audiocdn.economist.com/sites/default/files/AudioArchive/2015/20150530/Issue_8940_20150530_The_Economist_Full_edition.zip
        unzip 20190518.zip
        git add -A
        git rm -f 20190518.zip
  
        cd ../../../../
        git status 
        git commit -m "Add 20190518 "
        ls
        git push origin master
